
.divContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
  overflow: hidden;
  padding: 10px;
  background-color: aqua;
  border-radius: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5px;
}

.maxQW {
  width: 200px;
  overflow: hidden;
}

h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.buttonSpace {
  margin-left: 10px;
}